.body-style {
  background-color: rgba(17, 17, 17, 1);
  margin: 0px;
}
.text-style {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-left: 20px;
}
.paragraph-style {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: right;
  color: rgba(248, 119, 25, 1);
  margin-right: 20px;
}
#movies-list {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}
.movies-card {
  width: 280px;
  height: 406px;
  background-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  margin: 0px;
}
.movies-card img {
  width: 280px;
  height: 406px;
  overflow: hidden;
}
.movies-card h3 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.movies-card p {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.rating {
  text-align: right;
  margin: 12px 0;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 406px;
  background-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-between;
  gap: 16px;
  flex: 1 1 calc(33.333% - 20px); /* 3 kolumny, z marginesem */
}

@media (min-width: 768px) {
  #movies-list {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (min-width: 768px) {
  .text-style {
    font-size: 24px;
    line-height: 28.13px;
  }
}
@media (min-width: 768px) {
  .paragraph-style {
    font-size: 24px;
    line-height: 28.13px;
    margin-right: 32px;
  }
}
@media (min-width: 768px) {
  #movies-card {
    width: 224px;
    height: 325px;
    flex: 1 1 calc(33.333% - 20px); /* 3 kolumny, z marginesem */
  }
}

@media (min-width: 768px) {
  .movies-card img {
    width: 224px;
    height: 325px;
  }
}
@media (min-width: 768px) {
  .movies-grid {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0px;
    gap: 16px;
    margin: 32px;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    max-width: 768px;
    flex: 1 1 calc(33.333% - 20px); /* 3 kolumny, z marginesem */
    width: 224px;
    height: 325px;
  }
}

@media (min-width: 1280px) {
  .text-style {
    font-size: 28px;
    line-height: 32.81px;
    margin-left: 32px;
  }
}
@media (min-width: 1280px) {
  .paragraph-style {
    font-size: 28px;
    line-height: 32.81px;
    margin-right: 32px;
  }
}
@media (min-width: 1280px) {
  #movies-card {
    width: 395px;
    height: 574px;
  }
}
@media (min-width: 1280px) {
  .movies-card img {
    width: 395px;
    height: 574px;
  }
}
@media only screen and (min-width: 1200px) {
  .movies-grid {
    max-width: 1280px;
  }
}
